.bottom-btns {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sml-flex-col button {
  width: 111px;
  height: 36px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  border-radius: 5px;
}
.sml-flex-col button img {
  display: inline;
  margin-left: 10px;
}

.sml-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 132px;
}

.sml-btns {
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
}

.sml-flex-col {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.sml-btn__filled {
  color: #fff;
  background: #18A0FB;
  border: none;
}

.sml-btn__inactive {
  color: gray;
  border: none;
}

.sml-btn__transparent {
  background: none;
  border: 1px solid #E0E0E0;
}

.sml-btn__active {
  background: none;
  border: 1px solid #18A0FB;
  color: #18A0FB;
}

.sml-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.long-btn-sml {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sml-additional__tabs button, .sml-additional__search button, .sml-additional__sizes button {
  width: 86px;
  height: 36px;
  background-color: #fff;
  border: none;
}
.sml-additional__tabs button:first-child, .sml-additional__search button:first-child, .sml-additional__sizes button:first-child {
  background: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
}
.sml-additional__tabs button:last-child, .sml-additional__search button:last-child, .sml-additional__sizes button:last-child {
  border: 1px solid #E0E0E0;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}

.sml-additional__search button {
  width: 48px;
}
.sml-additional__search button:nth-child(2) {
  border-radius: 0;
  border: 1px solid #E0E0E0;
  border-left: none;
}

.sml-additional__sizes button {
  width: 58px;
}
.sml-additional__sizes button:nth-child(2) {
  border-radius: 0;
  border: 1px solid #E0E0E0;
  border-left: none;
}

.search-rounded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.search-rounded button {
  border: none;
  color: #fff;
}

.search-rounded__red {
  width: 36px;
  height: 36px;
  background: red;
  border-radius: 50px;
}

.search-rounded__green {
  width: 48px;
  height: 48px;
  background: #00D200;
  border-radius: 50px;
}

.sml-wrap-chips {
  margin-top: 50px;
}

.sml-wrap-chips__big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.sml-wrap-chips__big button {
  width: 65px;
  height: 28px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.sml-wrap-chips__big button:first-child {
  border: 1px solid #E0E0E0;
  background: #fff;
  color: #2C2C2C;
}
.sml-wrap-chips__big button:first-child span {
  font-size: 13px;
  color: #2C2C2C;
}
.sml-wrap-chips__big button:last-child {
  border: none;
  background: #18A0FB;
  color: #fff;
}
.sml-wrap-chips__big button:last-child span {
  font-size: 13px;
  color: #fff;
}

.sml-wrap-chips__small {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.sml-wrap-chips__small button {
  width: 51px;
  height: 28px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sml-wrap-chips__small button:first-child {
  border: 1px solid #E0E0E0;
  color: #2C2C2C;
}
.sml-wrap-chips__small button:last-child {
  border: none;
  background: #18A0FB;
  color: #fff;
}