$breakpoint-tablet: 768px
$breakpoint-md:580px
$breakpoint-PHONE: 480px
*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
.container
    margin: 0 auto
    max-width: 1110px
    padding: 0 16px
li
    list-style: none
a
    text-decoration: none
.top-menu li
    display: block
    color: #505F98
.top-menu li:hover
    color: #d115b5
.header__nav ul
    display: flex
    justify-content: space-around
    gap: 60px
    a:hover
        color: #a72c9d
.header__nav
    display: flex
    justify-content: space-between
    padding-top: 12px
.btn__buy-now
    max-width: 160px
    width: 160px
    max-height: 26px
    background: #111B47
    color: #fff
    border-radius: 2px
    border: none
    font-size: 12px
    font-weight: 500
.btn__buy-now:hover
    background: #8982df
    color: #111B47
.designer
    position: absolute
    top: -10px
    right: 0
    z-index: -1
@media screen and (max-width: $breakpoint-tablet) 
    .header__nav
        align-items: center
        flex-direction: start
    .btn__buy-now
       margin-left: 16px
       border-radius: 10px
       padding: 5px 0
    .header__nav ul
        gap: 15px
        flex-wrap: wrap
        font-size: 12px
    img
        padding: 0 10px
@media screen and (max-width: $breakpoint-PHONE) 
    .header__nav
            display: flex
            flex-direction: column
            gap: 20px
    .header__nav
        img
            order: -1
            margin: 30px 0
        button
            margin-top: 40px     
// PURCHASE SECTION
.purchase
    height: 850px
.purchase__content
    max-width: 540px
    display: flex
    flex-direction: column
    margin-top: 255px
    h2
        font-size: 50px
        color: #091133
        line-height: 66px
    p
        color: #505F98
        font-size: 18px
        line-height: 30px
        &:first-of-type
            margin-top: 20px
        &:nth-of-type(2)
            margin-top: 15px
.btns-block
    margin-top: 70px
    display: flex
    gap: 30px
    button
        width: 189px
        height: 36px
        border-radius: 2px
        font-weight: 500
        &:first-child
            background: #111B47
            border: none
            color: #fff
        &:last-child
            border: 2px solid #091133
            background-color: transparent
            color: #091133
    button:hover
        &:first-child
            background: #8982df
            color: #111B47
        &:last-child
            background: #111B47
            color: #fff
@media screen and (max-width: $breakpoint-tablet) 
    .designer
        display: none
    .purchase
        height: 60vh
        display: flex
    .purchase__content
        margin-top: 100px
        text-align: center
        h2
            font-size: 30px
            line-height: 35px
        p
            font-size: 14px
    .btns-block
        justify-content: center
        gap: 3vw
        button
            width: 45%       
// PHONE SECTION
.phone
    padding: 110px 0     
.phone-wrap
    display: flex
    flex-direction: row
    gap: 30px
.phone__content
    display: flex
    flex-direction: column
    h2
        font-size: 36px
        color: #091133
        line-height: 48px
    p
        color: #505F98
        line-height: 26px
        &:first-of-type
            margin-top: 20px
        &:nth-of-type(2)
            margin-top: 15px
    h3
        margin-top: 15px
        color: #091133
        font-size: 16px
.phone__content__blueprint
    display: flex
    gap: 30px
    margin-top: 80px
@media screen and (max-width: $breakpoint-tablet)
        .phone
            background: #ecf3fa
            padding: 0 
            margin-top: 50px
        .phone-wrap
            flex-direction: column-reverse
            padding-bottom: 50px
        .phone__hero
            width: 80vw
            height: 100%
            overflow: hidden
        .phone__herodiv
            text-align: center
// MAIL section
.mail
    padding: 125px 0
.mail-wrap
    display: flex
    gap: 135px
.mail__content
    // max-width: 540px
    display: flex
    flex-direction: column
    h2
        font-size: 36px
        color: #091133
        line-height: 48px
    p
        color: #505F98
        line-height: 26px
        &:first-of-type
            margin-top: 20px
        &:nth-of-type(2)
            margin-top: 15px
@media screen and (max-width: $breakpoint-tablet)
        .mail-wrap
            flex-direction: column
            gap: 20px
        .mail__hero-div
            text-align: center
        .mail_hero
            width: 80vw
            height: 100%
        .mail__content
            text-align: center
// Smartphone Section
.smartphone
    padding: 100px 0
.smartphone-wrap
    display: flex
    gap: 125px
    svg
        max-width: 490px
.smartphone__content
    margin-top: 80px
    // max-width: 540px
    display: flex
    flex-direction: column
    h2
        font-size: 36px
        color: #091133
        line-height: 48px
    p
        color: #505F98
        line-height: 26px
        &:first-of-type
            margin-top: 20px
        &:nth-of-type(2)
            margin-top: 15px
@media screen and (max-width: $breakpoint-tablet)
    .smartphone
        padding: 0
    .smartphone-wrap
            flex-direction: column
            gap: 20px
    .smartphone__hero-div
            text-align: center
    .smartphone__hero
            width: 80vw
            height: 100%
    .smartphone__content
            text-align: center
            margin: 0
// Mail Purchase Section
.mail-purchase
    padding: 100px 0
.mail-purchase-wrap
    display: flex
    gap: 172px
.mail-purchase__content
    display: flex
    flex-direction: column
    h2
        font-size: 36px
        color: #091133
        line-height: 48px
    p
        color: #505F98
        line-height: 26px
        &:first-of-type
            margin-top: 20px
        &:nth-of-type(2)
            margin-top: 15px
    button
        background: #111B47
        width: 150px
        height: 32px
        border: none
        border-radius: 2px
        font-weight: 500
        margin-top: 40px
        color: #fff
    button:hover
            background: #8982df
            color: #111B47
@media screen and (max-width: $breakpoint-tablet) 
    .mail-purchase
        padding: 0
        margin-top: 100px
    .mail-purchase-wrap
            flex-direction: column
            gap: 20px
            button:hover
            color: #111B47
    .mail-purchase__hero-div
            text-align: center
    .mail-purchase__hero
            width: 80vw
            height: 100%
    .mail-purchase__content
            text-align: center
            margin: 0
    .mail-purchase__content_button
        margin: 0 auto
// Price Section
.price
    background: url("./images/purchase-background.svg") no-repeat
    background-size: cover
    display: flex
    justify-content: center
    align-items: center
    height: 940px
.price__content
    text-align: center
    max-width: 600px
    h2
        font-size: 36px
        color: #091133
    p
        color: #6F7CB2
        margin-top: 16px
        &:nth-of-type(2)
            font-weight: 500
            font-size: 50px
            color: #091133
            margin-top: 35px
        &:nth-of-type(4)
            color: #5D6970
            font-size: 14px
            margin-top: 60px
    button
        background: #111B47
        width: 190px
        height: 32px
        border: none
        border-radius: 2px
        font-weight: 500
        margin-top: 10px
        color: #fff
    button:hover
            background: #8982df
            color: #111B47
@media screen and (max-width: $breakpoint-tablet) 
    .price
        height: 60vh
    // FOOTER
footer
    background: #E7ECFF
hr 
    background: #CDD1D4
.footer-top
        padding: 60px 0 40px 0
        display: flex
        justify-content: space-between
        button
            width: 110px
            height: 26px
            color: #fff
            background: #111B47
            border: none
            border-radius: 2px
            font-weight: 500
            font-size:12px
        button:hover
            background: #8982df
            color: #111B47
        span
            color: #939EA4
.footer-bottom
        padding: 20px 0 32px 0
        display: flex
        justify-content: space-between
nav
    ul
        display: flex
        justify-content: space-between
        gap: 60px
        li
            display: inline-block
            color: #929ECC
        li:hover
            color: #dd1f95
.socials
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        gap: 30px
        svg:hover path
            fill: #c64fbc
@media screen and (max-width: $breakpoint-tablet) 
    .footer-top
        span
            font-size: 10px
        button
            font-size: 12px
            font-weight: 400
            margin-left: 16px
    .footer-bottom
        nav
            ul
                gap: 10px
                font-size: 12px
        .socials
            gap: 10px